@using FamilyNet.Models
@model FamilyNet.Models.Donation
@*@model FamilyNet.Models.BaseItem*@
@{
    ViewData["Title"] = "CreateRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Создать потребность</h1>

<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="CreateRequest">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Orphanage.Name" class="control-label"></label>
                <select asp-for="Orphanage.ID" name="idOrphanage"
                        class="form-control"
                        asp-items="@(new SelectList(@ViewBag.ListOfOrphanages,"ID", "Name"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="DonationItem.DonationItemTypes" class="control-label"></label>
                <input asp-for="DonationItem.DonationItemTypes" class="form-control" />
                <span asp-validation-for="DonationItem.DonationItemTypes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonationItem.DonationItemTypes" class="control-label"></label>
                <input asp-for="DonationItem.DonationItemTypes" class="form-control" />
                <span asp-validation-for="DonationItem.DonationItemTypes" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DonationItem.Description" class="control-label"></label>
                <input asp-for="DonationItem.Description" class="form-control" />
                <span asp-validation-for="DonationItem.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" type="submit" class="btn btn-primary">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
