@model FamilyNet.Models.Donation

@{
    ViewData["Title"] = "Удаление";

}

<h3>Вы уверены что хотите удалить профиль?</h3>
<div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a class="btn btn-danger" asp-action="Index">Назад</a>
    </form>
</div>
