@model FamilyNet.Models.Donation

@{
    ViewData["Title"] = "Удаление";

}

<h3>Ви впевнені, що хочете виалити потребу?</h3>
<div>

    <form asp-action="DeleteDonation">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Видалити" class="btn btn-danger" />
        <a class="btn btn-danger" asp-action=" DonationsTable">Повернутися</a>
    </form>
</div>
