@model FamilyNet.Models.ViewModels.DonateViewModel

<div class="form-group">
    <form asp-action="Donate">
        <input type="hidden" asp-for="Donation.ID" />
        <label>Потрібна допомога волонтера?</label><br />
        <input asp-for="NeedHelp" />
        <br />
        <a class="btn btn-danger" asp-action="Index">Назад</a>
        <input type="submit" value="Підтвердити" class="btn btn-success" />
    </form>
</div>