@model FamilyNet.Models.BaseItemType

@{
    ViewData["Title"] = "Удаление";

}

<h3>Вы уверены что хотите удалить категорию?</h3>
<div>
    <form asp-action="DeleteCategory">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a class="btn btn-danger" asp-action="CategoriesTable">Назад</a>
    </form>
</div>
