@model DataTransferObjects.AvailabilityDTO

@{
    ViewData["Title"] = "Edit";
}

<h2>Внести изменения</h2>
<form method="post" asp-controller="Availabilities" asp-action="Edit">
    @*<div asp-validation-summary="ModelOnly"></div>*@
    <div>
        <label asp-for="DayOfWeek"></label><br />
        <select asp-for="DayOfWeek" asp-items="Html.GetEnumSelectList<DayOfWeek>()">
            <option value="">Choose a day</option>
        </select>
        @*<span asp-validation-for="Email"></span>*@
    </div>
    <div>
        <label asp-for="StartTime">Free from hour</label><br />
        @Html.EditorFor(m => m.StartTime, "{HH:mm}")
        @*<span asp-validation-for="Phone"></span>*@
    </div>
    <div>
        <label asp-for="VolunteerHours">My volunteer hours</label><br />
        <input asp-for="VolunteerHours" />
        @*@Html.EditorFor(m => m.VolunteerHours, "{HH:mm}")*@
        @*@Html.EditorFor(m => m.VolunteerHours);*@

        @*<span asp-validation-for="Password"></span>*@
    </div>
    <div>
        <input type="submit" value="Подтвердить" />
    </div>
</form>