@model  IEnumerable<PurchaseDTO>
@{
    ViewData["Title"] = "MyPurchases";
}

<h1>MyPurchases</h1>

<table class="table table-hover center">
    <thead class="thead-light">
        <tr>
            <th>Craft id</th>
            <th>Date</th>
            <th>Quantity</th>
            <th>Paid</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var buy in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => buy.AuctionLotId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => buy.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => buy.Paid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => buy.Date),
                </td>
            </tr>
        }

    </tbody>
</table>

