
<div class="search-button"><a class="nav-link text-dark font-weight-bold" asp-area="" asp-controller="Account" asp-action="GetDetails">Посмотреть свою информацию</a></div>
	
<div class="search-button"><a class="nav-link text-dark font-weight-bold" asp-area="" asp-controller="Account" asp-action="AccountEdits">Отредактировать свою информацию</a></div>

	
