
<div class="search-button"><a class="nav-link text-dark font-weight-bold" asp-area="" asp-controller="Account" asp-action="GetDetails"> Подивитись свою iнформацiю</a></div>
	
<div class="search-button"><a class="nav-link text-dark font-weight-bold" asp-area="" asp-controller="Account" asp-action="AccountEdits"> Вiдредагувати свою iнформацiю </a></div>

	
