
<div class="search-button"><a class="nav-link text-dark font-weight-bold" asp-area="" asp-controller="Account" asp-action="GetDetails">Посмотреть свою информацию</a></div>
	
<div class="search-button"><a class="nav-link text-dark font-weight-bold" asp-area="" asp-controller="Account" asp-action="AccountEdits">Отредактировать свою информацию</a></div>
@if (ViewData["role"].ToString() == "Volunteer" || ViewData["role"].ToString() == "CharityMaker") { 
<div class="btn btn-light"><a class="nav-link pl-1 text-dark font-weight-bold" asp-area="" asp-controller="Schedule" asp-action="Index">Запланировать время для помощи</a></div>
}

	
