@model int
@using System

@{
    ViewData["Title"] = "Delete";
    var id = Model;
}

<h3>Вы уверены что хотите удалить профиль?</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="@id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a class="btn btn-danger" asp-action="Index">Назад</a>
    </form>
</div>