@model QuestDTO

@{
    ViewData["Title"] = "CreateRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Створити квест</h1>

<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FromDate" class="control-label"></label>
                <input type="date" class="myInput" asp-for="FromDate" placeholder="Дата початку">
                <span asp-validation-for="FromDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ToDate" class="control-label"></label>
                <input type="date" class="myInput" asp-for="ToDate" placeholder="Дата закінчення">
                <span asp-validation-for="ToDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DonationsTable" type="submit" class="btn btn-primary">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

