@model DataTransferObjects.CharityMakerDTO

@{
    ViewData["Title"] = "Изменение";
}

<h1>Изменение</h1>

<h4>Филантроп</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patronymic" class="control-label"></label>
                <input asp-for="Patronymic" class="form-control" />
                <span asp-validation-for="Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressDTO.Country" class="control-label"></label>
                <input asp-for="AddressDTO.Country" class="form-control" />
                <span asp-validation-for="AddressDTO.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressDTO.City" class="control-label"></label>
                <input asp-for="AddressDTO.City" class="form-control" />
                <span asp-validation-for="AddressDTO.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressDTO.Region" class="control-label"></label>
                <input asp-for="AddressDTO.Region" class="form-control" />
                <span asp-validation-for="AddressDTO.Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressDTO.Street" class="control-label"></label>
                <input asp-for="AddressDTO.Street" class="form-control" />
                <span asp-validation-for="AddressDTO.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressDTO.House" class="control-label"></label>
                <input asp-for="AddressDTO.House" class="form-control" />
                <span asp-validation-for="AddressDTO.House" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdressID" class="control-label"></label>
                <input asp-for="AdressID" class="form-control" />
                <span asp-validation-for="AdressID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avatar" class="control-label"></label>
                <input asp-for="Avatar" type="file" name="Avatar" class="form-control" />
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
