@model FamilyNet.Models.ViewModels.ChildrenHouseCreateViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Редактирование</h1>

<h4>Детского дома</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ChildrenHouse.ID" />
            <input type="hidden" asp-for="ChildrenHouse.AdressID" />
            <input type="hidden" asp-for="ChildrenHouse.LocationID" />
            <input type="hidden" asp-for="ChildrenHouse.Avatar" />
            <input type="hidden" asp-for="Address.ID" />
            <p>
                <img class="mx-auto img-fluid img-circle d-block" src="@Url.Content(Model.ChildrenHouse.PhotoPath)" width="350" height="350" alt="">
            </p>
            <div class="form-group">
                <input asp-for="ChildrenHouse.Avatar" type="file" name="ChildrenHouse.Avatar" class="form-control" />
                <span asp-validation-for="ChildrenHouse.Avatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChildrenHouse.Name" class="control-label"></label>
                <input asp-for="ChildrenHouse.Name" class="form-control" />
                <span asp-validation-for="ChildrenHouse.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Country" class="control-label"></label>
                <input asp-for="Address.Country" class="form-control" />
                <span asp-validation-for="Address.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Region" class="control-label"></label>
                <input asp-for="Address.Region" class="form-control" />
                <span asp-validation-for="Address.Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Street" class="control-label"></label>
                <input asp-for="Address.Street" class="form-control" />
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.House" class="control-label"></label>
                <input asp-for="Address.House" class="form-control" />
                <span asp-validation-for="Address.House" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChildrenHouse.Rating" class="control-label"></label>
                <input asp-for="ChildrenHouse.Rating" type="number" class="form-control" />
                <span asp-validation-for="ChildrenHouse.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@ViewData["SaveChanges"]" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" type="submit" class="btn btn-info">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
