@{
    ViewData["Title"] = "Поиск по виду помощи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Пошук по виду допомоги</h1>

<form asp-action="SearchResult">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="typeHelp" placeholder="Категория для поиска" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-outline-primary">
                Пошук
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</form>
