@{
    ViewData["Title"] = "Поиск по виду помощи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Поиск по виду помощи</h1>

<form asp-action="SearchResult">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="typeHelp" placeholder="Категория для поиска" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-outline-primary">
                Поиск
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</form>

@*<div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <form asp-action="SearchResult" class="col-md-12">

                <input type="text" class="input-group-text col-md-12" name="typeHelp" />
                    <div class="form-group center-block">
                        <div class="col-md-12 center-block">
                            <input type="submit" value="Поиск" class="btn btn-primary center-block" />
                        </div>
                    </div>

            </form>
        </div>
    </div>*@

