@model FamilyNet.Models.Orphan
@*@model FamilyNet.Models.Orphanage*@

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Create</h1>

    <h4>Orphan</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FullName.Name" class="control-label"></label>
                    <input asp-for="FullName.Name" class="form-control" />
                    <span asp-validation-for="FullName.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FullName.Surname" class="control-label"></label>
                    <input asp-for="FullName.Surname" class="form-control" />
                    <span asp-validation-for="FullName.Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FullName.Patronymic" class="control-label"></label>
                    <input asp-for="FullName.Patronymic" class="form-control" />
                    <span asp-validation-for="FullName.Patronymic" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Birthday" class="control-label"></label>
                    <input asp-for="Birthday" class="form-control" />
                    <span asp-validation-for="Birthday" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contacts.Phone" class="control-label"></label>
                    <input asp-for="Contacts.Phone" class="form-control" />
                    <span asp-validation-for="Contacts.Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contacts.Email" class="control-label"></label>
                    <input asp-for="Contacts.Email" class="form-control" />
                    <span asp-validation-for="Contacts.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Orphanage.ID" class="control-label"></label>
                    <input asp-for="Orphanage.ID" class="form-control" />
                    <span asp-validation-for="Orphanage.ID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@


<div class="container register">
    <div class="row">
        <div class="col-md-9 register-right">
            <form asp-action="Create">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Register as an Orphan</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="FullName.Name" class="control-label"></label>
                                    <input asp-for="FullName.Name" class="form-control" />
                                    <span asp-validation-for="FullName.Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FullName.Surname" class="control-label"></label>
                                    <input asp-for="FullName.Surname" class="form-control" />
                                    <span asp-validation-for="FullName.Surname" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FullName.Patronymic" class="control-label"></label>
                                    <input asp-for="FullName.Patronymic" class="form-control" />
                                    <span asp-validation-for="FullName.Patronymic" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Birthday" class="control-label"></label>
                                    <input asp-for="Birthday" asp-format="{0:dd-MM-yyyy}" class="form-control" />
                                    <span asp-validation-for="Birthday" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Contacts.Phone" class="control-label"></label>
                                    <input asp-for="Contacts.Phone" class="form-control" />
                                    <span asp-validation-for="Contacts.Phone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Contacts.Email" class="control-label"></label>
                                    <input asp-for="Contacts.Email" class="form-control" />
                                    <span asp-validation-for="Contacts.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Orphanage.Name" class="control-label"></label>
                                    <select asp-for="Orphanage.ID"
                                            class="form-control"
                                            asp-items="@(new SelectList(@ViewBag.ListOfOrphanages,"ID", "Name"))"></select>
                                </div>                               
                                @*<div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    @if (ViewBag.SelectedValue != null)
                    {
                        <text>Selected Country ID: </text> @ViewBag.SelectedValue;
                    }
                </div>
            </div>
        </div>*@
                                <input type="submit" class="btnRegister" value="Create" />
                            </div>
                            <a asp-action="Index" class="btnBackToList">Back to List</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
