@model FamilyNet.Models.Orphan

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container register">
    <div class="row">
        <div class="col-md-9 register-right">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="Avatar" />
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Редактирование профиля</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="FullName.Name" class="control-label"></label>
                                    <input asp-for="FullName.Name" class="form-control" />
                                    <span asp-validation-for="FullName.Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FullName.Surname" class="control-label"></label>
                                    <input asp-for="FullName.Surname" class="form-control" />
                                    <span asp-validation-for="FullName.Surname" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FullName.Patronymic" class="control-label"></label>
                                    <input asp-for="FullName.Patronymic" class="form-control" />
                                    <span asp-validation-for="FullName.Patronymic" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Birthday" class="control-label"></label>
                                    <input asp-for="Birthday" class="form-control" />
                                    <span asp-validation-for="Birthday" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Orphanage.Name" class="control-label"></label>
                                    <select asp-for="Orphanage.ID" name="idOrphanage"
                                            class="form-control"
                                            asp-items="@(new SelectList(@ViewBag.ListOfOrphanages,"ID", "Name"))"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Avatar" class="control-label">Фото</label>
                                    <input asp-for="Avatar" type="file" name="file" class="form-control" />
                                    <span asp-validation-for="Avatar" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <input type="submit" class="btn btn-primary" value="Изменить" />
                                <a asp-action="Index" class="btn btn-primary">Назад</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

